@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    font-size: 16px;
    background-color: aliceblue;

}

/*HEADER*/

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(208, 217, 225, 0.993);
    display: flex;
    justify-content: center;
    height: 90px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    
}

.header-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    
    & img{
        transition: .3s;
    }
    
    & ul{
        display: flex;
        justify-content: end;
        gap: 30px;
        font-size: 17px;

        & a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        
    }

    
}

/*FOOTER*/
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(208, 217, 225, 0.993);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 100px;
    
}

/*EFEITOS HEADER*/

.header-container img:hover{
    scale: 1.02;
}

.header-container li{
    position: relative;
    display: inline-block;
}

.header-container li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}
.header-container li:hover::after{
    width: 100%;
}


/*EFEITOS*/

@keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

main, section{
    animation: fade-in .5s ease-in;
}


