/*MAIN*/
main .content{
    max-width: 70%;
    margin: 70px auto; 

    display: grid;
    grid-template-columns: 200px 1fr;
    
}

main .all-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    height: 100%;
    
    

    & .box{
        background-color: rgba(208, 217, 225, 0.993);
        border-radius: 10px;
        height: 300px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        & h3{
            font-style: italic;
        }
   
    }
}

/* IMAGEM DOS VINHOS*/
main img{
    width: 150px;
    height: 225px;
}

/*BARRA DE FILTRAGEM*/
form .ano{
    display: flex;
    flex-direction: column;
    
    & label{
        letter-spacing: 1px;
    }
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & button{
        width: 80px;
        border: 1px solid black;
        background-color: #333;
        color: white;
    }

    & button:hover{
        background-color: aliceblue;
        color: black;
    }

    & input, select{
        border: 1px solid black;
        border-radius: 8px;
        letter-spacing: 1px;
        padding: 2px 5px;
        background-color: #333;
        color: white;

        
        
    }
    & input::placeholder{
        color: white;
    }
    
    & #categorias, #pesquisa{
        width: 170px;
    }

    
    
}

/*LINHA DECORAÇAO*/
form hr{
    width: 70%;
}

/*BOTOES GERAIS*/
#btn-limpar{
    width: 60px;
}

button{
    background-color: aliceblue;
    border: none; /* ou qualquer cor que combine com seu tema */
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 5px;
    font-size: 11px;
    margin-top: 3px;
    
}

button:hover{
    background-color: #333;
    color: white;
    transform: scale(1.05);
      
}


/*CHECKBOX*/

.checkbox input{
    display: none;
}

.checkbox span {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.checkbox input:checked + span {
    background-color: #333;
}

.checkbox input:checked + span::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}