/*MAIN*/

main .content {
    max-width: 70%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 200px 1fr;

}

main .all-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: start;
    row-gap: 20px;
    height: 100vh;



    & .box {
        background-color: rgba(208, 217, 225, 0.993);
        border-radius: 10px;
        height: 350px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        & h3 {
            font-style: italic;
        }

    }
}

/* IMAGEM DOS VINHOS*/
main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.267));
}

main i {
    font-size: 23px;

}

/*BARRA DE FILTRAGEM*/
form .ano {
    display: flex;
    flex-direction: column;

    & label {
        letter-spacing: 1px;
    }

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & button {
        width: 80px;
        border: 1px solid black;
        background-color: #333;
        color: white;
    }

    & button:hover {
        background-color: aliceblue;
        color: black;
    }

    & input,
    select {
        border: 1px solid black;
        border-radius: 8px;
        letter-spacing: 1px;
        padding: 2px 5px;
        background-color: #333;
        color: white;



    }

    & input::placeholder {
        color: white;
    }

    & #categorias,
    #pesquisa {
        width: 170px;
    }



}

/*LINHA DECORAÇAO*/
form hr {
    width: 70%;
}

/*BOTOES GERAIS*/
#btn-limpar {
    width: 60px;
}

button {
    background-color: aliceblue;
    border: none;
    /* ou qualquer cor que combine com seu tema */
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 5px;
    font-size: 11px;
    margin-top: 3px;

}

button:hover {
    background-color: #333;
    color: white;
    transform: scale(1.05);

}


/*CHECKBOX*/

.checkbox input {
    display: none;
}

.checkbox span {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.checkbox input:checked+span {
    background-color: #333;
}

.checkbox input:checked+span::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/*DIALOG*/

dialog {

    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: aliceblue;
    animation: modal .5s ease;

    & img {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }



    & button {
        background-color: #333;
        color: aliceblue;
    }

    & button:hover {
        background-color: aliceblue;
        color: #333;
    }


}



@keyframes modal {
    0% {
        opacity: 0;
        position: absolute;
        top: 200px;
    }

    100% {
        opacity: 1;

    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    main .content {
        max-width: 90%;
        min-height: 90vh;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .header-container {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 20px;
        text-align: center;
        display: flex;
    }

    .header-container nav ul {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .barra-pesquisa {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        & button {
            height: 100px;

        }
    }

    form hr {
        display: none;
    }


    main .all-box {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        gap: 20px;
    }

    main .all-box .box {
        width: 90%;
        height: 320px;
    }

    .nome-produto h3 {
        font-size: 18px;
        text-align: center;
    }

    dialog {
        width: 90%;
    }
}


@media (max-width: 768px) {

    .header-container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
        text-align: center;
    }

    .header-container nav ul {
        align-items: center;
        gap: 15px;

    }

    .header-container nav ul li {
        background-color: rgba(130, 134, 138, 0.353);
        border-radius: 10px;
        padding: 0 5px;
        color: #333;
    }


    main .content {
        display: flex;
        flex-direction: column;
        max-width: 95%;
        margin-top: 7rem;
        gap: 20px;

    }

    .barra-pesquisa {
        display: none;
    }


    form #categorias,
    form #pesquisa {
        width: 100%;
    }

    main .all-box {
        grid-template-columns: 1fr;
        height: auto;
    }

    main .all-box .box {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .box img {
        height: auto;
        max-height: 200px;
    }

    dialog {
        width: 90%;
    }
}