h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.pre {
    text-align: center;
    margin-top: 10px;
}
.historia {
 margin-top: 10px;
text-indent: 30px;
text-align: justify;
margin-left: 30px;
margin-right: 30px;

}
