
/*MAIN*/
main {
    max-width: 70%;
    margin: 0 auto;
}

main img{
    position: relative;
    top: 40px;
    width: 400px;
    scale: 1.5;
    padding-left: 60px;
}

main .content{
    display: flex;
    margin-top: 4rem;
}

main .texto-inicial{
    width: 650px;
    

    & h1{
        font-size: 50px;
        margin-bottom: 40px;
        text-transform: uppercase;
        
    }

    & .apresentacao p{
        margin: 20px 0;
        font-size: 18px;
        
    }


}

.assinatura{
    text-align: center;
    
    display: flex;
    justify-content: space-evenly;
    gap: 100px;

    & .left{
        width: 680px;
        
        
        & .beneficios{
            margin-top: 30px;

            & ul{
                background-color: #333;
                border-radius: 16px;
                color: aliceblue;
                padding: 10px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            }
            

            & li{
                margin-bottom: 20px;
                font-size: 18px;
            }

            & p{
                margin-top: 30px;
            }
        }

        & .finalizacao-assinatura{
            margin-top: 30px;
            font-size: 24px;
        }
        
        & .titulo-assinatura p{
            margin-top: 20px;
            line-height: 32px;
         
        }
    }

    & .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    & h2{
        font-size: 40px;
    }

    

}

.assinatura .btn{
    margin-top: 40px;

    & button{
        border-radius: 16px;
        padding: 15px;
        width: 300px;
        font-size: 20px;
        border: none;
        background-color: #ab3131;
        color: aliceblue;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        animation: flutuar 3s ease-in-out infinite;
    }

    & button:hover{
        background-color: #333;
    }
}


.divisoria{
    margin: 80px 0;
    
    & hr{
        border: none;
        height: 1.5px;
        background-color: #333;
    }
    
}